body {
    font-family: 'Open Sans', sans-serif;
}

.jumbotron {
    background-color: #115cff;
    box-sizing: border-box;
}

.btn {
    background-color: #115cff;
    color: aliceblue;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.btn:hover {
    color: aliceblue;
    font-weight: 300;
    background-color: #568cca;
}

footer {
    background-color: #115cff;
    width: 100%;
    margin-top: 10px;
    box-sizing: border-box;
    padding: 20px;
}

footer a {
    font-size: 14px;
    color: aliceblue;
}

.card-box {
    width: 100%;
    box-sizing: border-box;
    padding: 20px;
}

.card-hotel {
    flex: 1 250px;
    padding: 15px 5px;
}

.adress-icon {
    padding-right: 10px;
}

.title-contact {
    padding-left: 30px;
}

.contact-form {
    width: 100%;
    padding: 30px;
    box-sizing: border-box;
}